<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="visualstudio2019buildtools" packageParameters="--add Microsoft.VisualStudio.Workload.VCTools" />
</packages>
<!--
Use, modification, and distribution are
subject to the Boost Software License, Version 1.0. (See accompanying
file LICENSE.txt)

Copyright René Ferdinand Rivera Morell 2020-2021.
-->
